.popup__container {
  box-sizing: border-box;
  position: relative;
  padding: 35px;
  margin: 0 auto;
  min-height: 330px;
  max-width: 430px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

@media (max-width: 500px) {
  .popup__container {
    max-width: 282px;
    padding: 25px;
    min-height: 322px;
    gap: 14px;
  }
}