.popap__content {
  position: relative;
  padding: 35px;
  margin: 0 auto;
  list-style: none;
  height: 330px;
  max-width: 430px;
  border-radius: 15px;
  border: none;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 415px) {
  .popap__content {
    padding: 25px 17px;
  }
}