.profile {
  width: 100%;
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

@media (min-width: 645px) and (max-width: 1023px) {
  .profile {
    max-width: 660px;
  }
}

@media (max-width: 645px) {
  .profile {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
}

@media (max-width: 425px) {
  .profile {
    padding-top: 42px;
  }
}