.logo__img {
  height: 33px;
  width: 142px;
  background: url(../../../images/logo.png) center no-repeat;
  color: #fff;
}

@media (max-width:425px) {
  .logo__img {
    height: 24px;
    width: 103px;
    background-size: cover;
    margin-left: 10px;
  }
}