.profile__name {
  width: 100%;
  max-width: 294px;
  color: #fff;
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 425px) and (max-width: 768px) {
  .profile__name {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 425px) {
  .profile__name {
    max-width: 189px;
    font-size: 27px;
    line-height: 33px;
    margin-left: 28px;
  }
}