.popup__btn-close {
  height: 32px;
  width: 32px;
  background: transparent url(../../../images/Close.svg) center no-repeat;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  background-size: 32px;
  transition: 0.5s;
  cursor: pointer;
}

.popup__btn-close:hover {
  opacity: 0.5;
}

@media (max-width:615px) {
  .popup__btn-close {
    background-size: 20px;
    top: -40px;
    right: -5px;
  }
}