.btn_action_close {
  height: 32px;
  width: 32px;
  background: transparent url(../../../images/Close\ Icon.png) center no-repeat;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
}

.btn_action_close:hover {
  opacity: 0.5;
  transition: 0.5s;
}