.btn_action_add {
  height: 50px;
  width: 150px;
  border: 2px solid #fff;
  background: transparent url(../../../images/plus.png) center no-repeat;
  border-radius: 2px;
}

.btn_action_add:hover {
  opacity: 0.5;
  transition: 0.5s;
}

@media (min-width: 415px) and (max-width: 645px) {
  .btn_action_add {
    margin-top: 36px;
  }
}

@media (max-width: 415px) {
  .btn_action_add {
    width: 100%;
    margin-top: 36px;
  }
}