.container {}

@media (max-width: 1024px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 425px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}