.footer {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: #545454;
  padding-top: 66px;
}

@media (max-width:425px) {
  .footer {
    font-size: 14px;
    padding-top: 38px;
  }
}