.footer {
  padding-top: 53px;
  margin: 0 auto;
}

@media (min-width: 645px) and (max-width: 1023px) {
  .footer {
    max-width: 660px;
  }
}

@media (max-width:768px) {
  .footer {
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 36px;
  }
}