.card__btn-del {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background: transparent url(../../../images/basket.svg) center no-repeat;
  background-size: cover;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}

.card__btn-del:hover {
  background: transparent url(../../../images/basket-hover.svg) center no-repeat;
}